/* 
    Document   : style.css
    Created on : 22/01/2013
    Author     : Kevin Csapko
    Description: Main stylesheet
*/

body 
{ 
    margin: auto;
    padding: 0; 
    width: 960px; 
    font-family: arial, verdana, tahoma, helvetica, sans-serif;
    text-align: left;
    color: black; 
    font-size: 10pt;		
    border: 0; 		
    outline: 0;
}

#wrapper 
{ 
    clear: none;
    margin-right: 1em;
    max-width: 960px; 
    padding-right:5em;
    margin: auto;
}

#header 
{ 
    position: relative;
    background-image: url('/assets/images/banner_logo.png');
    background-repeat: no-repeat;
    height: 200px;
    border-bottom: 1px dotted #CCCCCC;
}

#navbar 
{ 
    float: left; 
    text-transform: uppercase;
    text-align: right;
    margin-top: 10px;
    width: 190px;
    display: block;
    border-right: 1px dotted #CCCCCC;
}

#navbar li 
{ 
    list-style: none;
    margin-top: 10px;
    margin-right: 20px;
}

#navbar li a:visited
{
    color: #A4A4A4;
    text-decoration: none;
}

#navbar li a
{
    color: #A4A4A4;
    text-decoration: none;
}

#navbar li a:hover
{
    color: #ff9900;
    text-decoration: none;
}

#content 
{ 
    display: block; 
    position: relative;
    text-align: left;
    margin-left: 200px;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    min-height: 243px;
}

#footer 
{
    margin-top: 20px;
    margin-bottom: 60px;
    margin-right: 10px;
    text-align: right;
    text-transform: uppercase;
    font-size: 90%;
    display: block; 
    clear: left;
}

h1 
{
    font-weight: bold; 
    font-size: 150%; 
    text-align: left;
}

h1 .timestamp
{
    font-size: 50%;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 11px;
}

h2 
{
    font-weight: bold; 
    font-size: 110%;
    text-align:left;
}

img, a.img 
{
    border: none; 
    border-bottom-style: none;
}

.title 
{
    float: right; 
    margin-top: 4.5em;
    color: #402020;
    font-size: 150%;
    font-weight: bold;
}

/* TABBING */

.basictab
{
    padding: 3px 0;
    margin-left: 0; 
    font: bold 12px Verdana;
    border-bottom: 1px solid gray; 
    list-style-type: none; 
    text-align: left; 
}

    .basictab li
    {
        display: inline; 
        margin: 0;
    }
    
        .basictab li a
        {
            text-decoration: none; 
            padding: 3px 7px;
            margin-right: 3px;
            border: 1px solid gray;
            border-bottom: none;
            background-color: #f6ffd5;
            color: #2d2b2b;
        }
        
        .basictab li a:visited
        {
            color: #2d2b2b;
        }
        
        .basictab li a:hover
        {
            background-color: #DBFF6C; 
            color: black;
        }
        
        .basictab li a:active
        {
            color: black;
        }
        
        .basictab li.selected a
        {
            position: relative; 
            top: 1px; 
            padding-top: 4px; 
            background-color: #DBFF6C; 
            color: black;
        }

/* REPORT */
        
.report
{
    text-align: right;
}

.report_top
{
    font-size: 120%;
}

.report_major td:first-of-type 
{
    text-align:center;
}

.report_major td 
{
    text-align: right;
    font-size: 110%; 
    font-weight: bold;
    font-style: italic;
    margin-left: 20px;
}

.report_minor td:first-of-type 
{
    text-align: left;
}

.report_minor td 
{
    text-align: right;
}

.report_bottom td:first-of-type 
{
    text-align: center;
}

.report_bottom td 
{
    text-align: right;
    font-size: 120%; 
    font-weight: bold
}

/* GLOBAL STYLES */

pre
{
    font-size: 80%;
}

.panel
{
    height: auto;
    width: 700px;
    border: none;
}

hr
{
    border: 1px solid #E6E6E6;
    margin-top: 15px;
    margin-bottom: 15px;
}

.oranged
{
    color: #ff9900;
}


a:visited
{
    color: #A4A4A4;
    text-decoration: none;
}

a
{
    color: #A4A4A4;
    text-decoration: none;
}

a:hover
{
    color: #ff9900;
    text-decoration: none;
}